name: Build and Release Python Package

on:
  release:
    types: [published]

permissions:
  contents: read
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Build
        id : build
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python setup.py -q sdist | tee output.txt
          test ${PIPESTATUS[0]} -eq 0 && cat output.txt >> $GITHUB_OUTPUT

      - name: Upload Release Assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }} 
          asset_path: ${{ steps.build.outputs.SDIST }}
          asset_name: ${{ steps.build.outputs.NAME }}-${{ steps.build.outputs.VERSION }}.tar.gz
          asset_content_type: application/octet-stream