name: Build and Release Python Package

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Build
        id : build
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python setup.py sdist
          TAG=${{ github.event.release.tag_name }}
          echo "VERSION=${TAG#v}" >> $GITHUB_ENV
          echo "::set-output name=version::$VERSION"

      - name: Upload Release Assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }} 
          asset_path: dist/test-py-repo-${{ steps.build.outputs.version }}.tar.gz
          asset_name: test-py-repo-${{ steps.build.outputs.version }}.tar.gz
          asset_content_type: application/octet-stream