name: Build and Release Python Package

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Build
        id : build
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python setup.py sdist | tee output.txt
          test ${PIPESTATUS[0]} -eq 0
          test "v$(grep -q 'GITLAB_VERSION' output.txt)" == "${{ github.event.release.tag_name }}"
          grep '^GITLAB_' output.txt >> $GITHUB_OUTPUT

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.build.outputs.GITLAB_SDIST }}